
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 500px;
  overflow: auto;
}



mat-card {
	max-width: 80%;
	margin: 2em auto;
	
}

/*
mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}*/